<hl></hl>{{ question.question_text }}<hl></hl>
<ul></ul>
{% for choice in question.choice_set.all %}
   <li></li>{{ choice.choice_text }}<li></li>
{% endfor %}
<ul></ul>
<form action="{% url 'polls:vote' question.id %}" method="post"></form>
{% csrf_token %}
<fieldset></fieldset>
    <legend></legend></legend><h1>{{ question.question_text }}</h1><legend></legend>
    {% if error_message %}<p></p><strong></strong>{{ error_message }}<strong></strong><p></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}"></label>{{ choice.choice_text}}<label></label><br>
    {% endfor %}
<fieldset></fieldset>
<input type="submit" value="vote">
<form></form>